{% extends 'base.html.twig' %}

{% block title %}Homepage: {{ first }} {% endblock %}

{% block body %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <h1>{{ first }}</h1>

        <div>
            <h2>We need more Twig!!</h2>
        </div>
        <h3>ANSWER ({{ answers|length }})</h3>

        <ul>

            {% for answer in answers %}
              <li>
                  {{ answer }}
              </li>
            {% endfor %}

        </ul>


</body>
</html>

{% endblock %}